In [ ]:
import numpy as np
arr = np.arange(15)
arr.reshape((5,-1))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [ ]:
import numpy as np

n1_arr=np.zeros((5,3))

arr.reshape(n1_arr.shape)
print(n1_arr)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [ ]:

arr.reshape(n1_arr.shape)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [ ]:
import numpy as np
arr=np.arange(15)
n1_arr=np.zeros((3,5))
arr.reshape(n1_arr.shape)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [ ]:
arr3=np.arange(15)
arr3=arr3.reshape((3,5))
print(arr3)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

In [ ]:

arr4=np.zeros((5,5))
print(arr4)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [ ]:
#Boolean Indexing
import numpy as np
a = np.arange(12).reshape(3,4)
print("a= \n",a)
b = a > 4
print("b= \n",b)
print("a[b]= \n",a[b]) # 1d array
a[b] = 1
print("a= \n",a)

a=
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
b=
 [[False False False False]
 [False  True  True  True]
 [ True  True  True  True]]
a[b]=
 [ 5  6  7  8  9 10 11]
a=
 [[0 1 2 3]
 [4 1 1 1]
 [1 1 1 1]]

In [ ]:
import numpy as np
# Boolean indexing with strings
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.arange(28).reshape(7, 4)
print(names)
print("data= \n",data)
print("names bool= \n",names == 'Bob') # returns a boolean array
print("names == 'Bob' \n",data[names == 'Bob']) # selects rows where names == 'Bo



print("names == 'Bob',2: \n",data[names == 'Bob', 2:]) # selects rows where names
print("names == 'Bob',3 \n",data[names == 'Bob', 3])

['Bob' 'Joe' 'Will' 'Bob' 'Will' 'Joe' 'Joe']
data=
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]]
names bool=
 [ True False False  True False False False]
names == 'Bob'
 [[ 0  1  2  3]
 [12 13 14 15]]
names == 'Bob',2:
 [[ 2  3]
 [14 15]]
names == 'Bob',3
 [ 3 15]

In [ ]:
import numpy as np
arr = np.arange(12).reshape(3,4)
print(arr)
print(arr.T)
print(np.transpose(arr))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 0  4  8]
 [ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]]
[[ 0  4  8]
 [ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]]

In [ ]:
arr1=np.transpose(arr,(1,0))
print(arr1)

[[ 0  4  8]
 [ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]]

In [ ]:
arr2=np.transpose(arr,(0,1))
print(arr2)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [ ]:
arr = np.arange(12).reshape(2,3,2)
print(arr)
print("rerverased array is ",arr.T)
print("ok",np.transpose(arr,(0,1,2)))
print("ok1",np.transpose(arr,(1,0,2)))
print("ok2",np.transpose(arr,(2,1,0)))

[[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]]
rerverased array is  [[[ 0  6]
  [ 2  8]
  [ 4 10]]

 [[ 1  7]
  [ 3  9]
  [ 5 11]]]
ok [[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]]
ok1 [[[ 0  1]
  [ 6  7]]

 [[ 2  3]
  [ 8  9]]

 [[ 4  5]
  [10 11]]]
ok2 [[[ 0  6]
  [ 2  8]
  [ 4 10]]

 [[ 1  7]
  [ 3  9]
  [ 5 11]]]