In [ ]:
import pandas
data = {
    'cars': ["sumo","aadi","ford"],
    'rate':[300000,8000000,344443]
}
mydata = pandas.DataFrame(data)
print(data)

{'cars': ['sumo', 'aadi', 'ford'], 'rate': [300000, 8000000, 344443]}

In [ ]:
import pandas as pd
data = [10,20,30,40,50,60]
serdata=pd.Series(data)
print(serdata)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [ ]:
import pandas as pd
data = [10,20,30,40,50]
index_labels = ['a','b','c','d','e']
series = pd.Series(data,index=index_labels)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Series Representation:\n",series)

array_representation = series.values
index_object = series.index
print("Array Representation:", array_representation)

Series Representation:
 0    10
1    20
2    30
3    40
4    50
dtype: int64
Array Representation: [10 20 30 40 50]

In [ ]:
import pandas as pd
data = [10,20,30,40,50]
index_labels = ['a','b','c','d','e']
series = pd.Series(data,index=index_labels)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
print(series['b'])

20

In [ ]:
print(series[['b']])

b    20
dtype: int64

In [ ]:
print(series[['b','c','d']])

b    20
c    30
d    40
dtype: int64

In [ ]:
gt = series>25
print(gt)

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [ ]:
newser=series[series>25]
print(newser)

c    30
d    40
e    50
dtype: int64

In [ ]:
mulser=series*2
print(mulser)

a     20
b     40
c     60
d     80
e    100
dtype: int64

In [ ]:
import numpy as np
sqrt = np.sqrt(series)
print(sqrt)

a    3.162278
b    4.472136
c    5.477226
d    6.324555
e    7.071068
dtype: float64

In [ ]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
print('California' in population)

True

In [ ]:
dat = [10,np.nan,30,np.nan,50]
ind_lab = ['a','b','c','d','e']
series_with_nan = pd.Series(dat,index=ind_lab)
print(series_with_nan)

a    10.0
b     NaN
c    30.0
d     NaN
e    50.0
dtype: float64

In [ ]:
print(series_with_nan.isnull())

a    False
b     True
c    False
d     True
e    False
dtype: bool

In [ ]:
print(series_with_nan.notnull())

a     True
b    False
c     True
d    False
e     True
dtype: bool

In [ ]:
import pandas as pd

male_population_dict = {
    'California': 19000000,
    'Texas': 13000000,
    'New York': 9500000,
    'Florida': 9600000,
    'Illinois': 6300000
}

female_population_dict = {
    'California': 19332521,
    'Texas': 13448193,
    'New York': 10151127,
    'Florida': 9952860,
    'Illinois': 6582135
}


male_population = pd.Series(male_population_dict)
female_population = pd.Series(female_population_dict)

total_population = male_population + female_population

print("\nTotal Population:\n", total_population)


total_population.name = 'population'
total_population.index.name = 'state'

print("\nNamed Total Population Series:\n", total_population)

Total Population:
 California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Named Total Population Series:
 state
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64